html, body, div {
	height: 100%;
	overflow: hidden;
}
body {
	background: #0060aa;
	margin: 0;
}
#video {
	height: 0%;
	z-index:0;
	text-align:center;
	overflow:hidden;
}

fieldset{
	border:0px solid;
}

#message_input_box{
	display:none;
	max-width: 800px;
	margin:10% auto;
	position: relative;
	overflow: visible;
}

#scorediv{
	text-align: center;
	font-size: 33px;
	color: white;
	display:none;
	max-width: 800px;
	margin:20% auto;
	position: relative;
	overflow: visible;

}

label{
	margin-top: 20px;
}

input{
	width:97%;
}

input:invalid, textarea:invalid {
	background-color: #fff;
}

textarea{
	resize:none;
	width:97%;
	height:80px;
}

input#send_message{
	margin:1em 0;
}

#nuage{
	display:none;
	position:absolute;
	top:20px;
	right: -276px;
	background:url(../img/nuage_00.png) transparent no-repeat;
	z-index:200;
	width:600px;
	height:200px;
}

#nuage0{
	display:none;
	position:absolute;
	top:130px;
	right: -276px;
	background:url(../img/nuage_01.png) transparent no-repeat;
	z-index:200;
	width:600px;
	height:200px;
}

#nuage1{
	display:none;
	position:absolute;
	top:300px;
	left: 50px;
	background:url(../img/nuage_02.png) transparent no-repeat;
	z-index:200;
	width:600px;
	height:200px;
}

#nuage2{
	display:none;
	position:absolute;
	top:20px;
	right: -276px;
	background:url(../img/nuage_03.png) transparent no-repeat;
	z-index:200;
	width:600px;
	height:200px;
}

#logo{
	background:url(../img/CAT.png) transparent no-repeat;
	width:120px;
	height:120px;
	display:block;
	top:-10px;
	right:-52px;
	position:absolute;
}

#main{
	position: absolute;
	top: 0px;
	width: 96%;
	z-index:999;
}

#feedback{
background: url(../img/nuage_03.png) transparent no-repeat;
width: 320px;
height: 300px;
display: block;
top: 20%;
position: fixed;
z-index: 999;
margin: 0% 28%;
overflow: hidden;
text-align: center;
padding: 181px 130px 0px;
text-shadow: 0px -1px 1px black;
font-size: 30px;
color: white;
display: none;
}
